<TMPL_INCLUDE NAME="header.tmpl">
<div id="content">
 <h1>Issues with <TMPL_VAR NAME=CHECKNAME></h1>

  <p>
  This is the list of source packages with issues on their <TMPL_VAR NAME=CHECKNAME> entries, grouped by first character.
  </p>

  <p>
    <a name="#top">Jump to:</a> <a href="#A">A</a> <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a>
  </p>


<TMPL_VAR NAME=PACKAGELIST>

</div>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
